{% extends 'base.html' %}

{% block head %}
    <title>Job Hazard Analysis - Acme Widgets</title>
{% endblock %}

{% block body %} 
    <h2 class="page-section-heading text-center text-uppercase text-white">Job Hazard Analysis Form </h2>
{% endblock %}

{% block body1 %} 
    <div class="container-fluid">
        <h1>Job hazards</h1>
        <form action="/" method="POST">
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="authorName">Author Name</label>
                <input type="text" class="form-control" name="author" id="author" placeholder="'John Doe'">
            </div>
            </div>
            <div class="form-group">
                <label for="activityDescription">Activity Description</label>
                <input type="text" class="form-control" name="activityDescription" id="activityDescription">
            </div>
            <div class="form-group">
                <label for="hazardDescription">Hazard Description</label>
                <input type="text" class="form-control" name="hazardDescription" id="hazardDescription">
            </div>
            <div class="form-group">
                <label for="hazardControl">Hazard Control</label>
                <input type="text" class="form-control" name="hazardControl" id="hazardControl">
            </div>
            <input type="submit" value="Add Job hazard" class="btn btn-primary">
        </form>
    </div>
{% endblock %}