{% extends 'base.html' %}

{% block head %}
    <title>Job Hazard Analysis - Acme Widgets</title>
{% endblock %}

{% block body %} 
    <h2 class="page-section-heading text-center text-uppercase text-white">Job Hazard Analysis Steps </h2>
{% endblock %}

{% block body1 %} 
    <div class="container-fluid">
        <h1>Job hazards</h1>
        <form action="/steps/{{step.JHAid}}" method="POST">
            <div class="form-group">
                <label for="stepDescription">Step Description</label>
                <input type="text" class="form-control" name="stepDescription" id="stepDescription">
            </div>
            <input type="submit" value="Add Step" class="btn btn-primary">
        </form>
                                <br>
                        <a href="/stepDisplay/{{step.JHAid}}">Show Steps</a>
    </div>
{% endblock %}