{% extends 'base.html' %}

{% block head %}
    <title>Job Hazard Analysis - Acme Widgets</title>
{% endblock %}

{% block body %} 
    <h2 class="page-section-heading text-center text-uppercase text-white">Job Hazard Analysis Steps </h2>
{% endblock %}

{% block body1 %} 
        {% if stepDisplay|length < 1 %}
                <h4>No Steps to show for this hazard </h4>
            {% else %}
            <table class ="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Step No.</th>
                    <th scope="col">Description </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for stepDisplay in stepDisplay %}
                <tr>
                    <td>{{ stepDisplay.Stepid }}</td>
                    <td>{{ stepDisplay.stepDescription }}</td>
                    <td>
                        <a href="/hazardList">Return</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
{% endblock %}